[mysqld]
server-id=1
log_bin=mysql-bin
binlog_format=ROW
expire_logs_days=7
innodb_buffer_pool_size=64M
# реплицировать только demo для наглядности
replicate-do-db=demo

# transparent encryption (пример конфигурации; файлы ключей нужно подготовить при желании)
# innodb_encrypt_tables=ON
# innodb_encrypt_log=ON
# plugin_load_add=file_key_management
# file_key_management_filename=/etc/mysql/keyfile.enc
# file_key_management_encryption_algorithm=AES_CTR

bind-address=0.0.0.0
skip-host-cache
skip-name-resolve

