[mysqld]
server-id=2
relay_log=relay-bin
log_bin=mysql-bin
binlog_format=ROW
read_only=1
replicate-do-db=demo

innodb_buffer_pool_size=64M

bind-address=0.0.0.0
skip-host-cache
skip-name-resolve

# Чтобы реплика не стартовала автоматически при первом запуске:
# skip_slave_start=1

